<form action="/create_improvement_plan_from_coach" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control" value="<%= @improvement_plan.status %>">
  </div>

  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <input type="text" id="comments" name="comments" class="form-control" value="<%= @improvement_plan.comments %>">
  </div>

  <input type="hidden" name="coach_id" value="<%= @coach.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create improvement plan
  </button>
</form>
