<form action="/create_goal_from_improvement_plan" method="post">

  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <input type="text" id="comments" name="comments" class="form-control" value="<%= @goal.comments %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @goal.description %>">
  </div>

  <input type="hidden" name="plan_id" value="<%= @improvement_plan.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create goal
  </button>
</form>
